<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
>
<head>
    <meta charset="UTF-8">
    <title>New Patient</title>
</head>
<body>
<h2>Add new patient</h2>
<div class="p-3" layout:fragment="content">
    <form method="post" th:action="@{/patients}">
        <div class="mb-3">
            <label class="form-label">First name</label>
            <input class="form-control" type="text" name="firstName" th:value="${patient.firstName}">
            <span class="text-danger" th:errors="${patient.firstName}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Last name</label>
            <input class="form-control" type="text" name="lastName" th:value="${patient.lastName}">
            <span class="text-danger" th:errors="${patient.lastName}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Date of birth</label>
            <input class="form-control" type="date" name="dateOfBirth" th:value="${patient.dateOfBirth}">
            <span class="text-danger" th:errors="${patient.dateOfBirth}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Sick</label>
            <input class="form-check" type="checkbox" name="sick" th:checked="${patient.sick}">
            <span class="text-danger" th:errors="${patient.sick}"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Score</label>
            <input class="form-control" type="number" name="score" th:value="${patient.score}">
            <span class="text-danger" th:errors="${patient.score}"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>