<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
</head>
<body>
<div layout:fragment="pageContent">
    <div class="container mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Form to add new patient</div>
                <div class="card-body">
                    <form th:action="@{savePatient}" method="post">
                        <div class="form-group">
                            <label class="control-label">Name : </label>
                            <input type="text" name="name" class="form-control" th:value="${patient.name}">
                            <span th:errors="${patient.name}" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Score : </label>
                            <input type="number" name="score" class="form-control" th:value="${patient.score}">
                            <span th:errors="${patient.score}" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Date of birth : </label>
                            <input type="date" name="dateOfBirth" class="form-control"
                                   th:value="${patient.dateOfBirth}">
                            <span th:errors="${patient.dateOfBirth}" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Sick </label>
                            <input type="checkbox" name="sick" th:checked="${patient.sick}">
                            <span th:errors="${patient.sick}" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>