<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des patients</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.1/css/bootstrap.min.css" />
</head>
<body>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">Liste des patients</div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>ID</th><th>Name</th><th>Date Of Birth</th><th>Sick</th>
                    </tr>
                    <tr th:each="p:${patients}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.dateOfBirth}"></td>
                        <td th:text="${p.sick}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>